<!DOCTYPE html>
<html>
<head>
    <title>IPFS CID Uploader</title>
</head>
<body>
    <h1>IPFS CID Uploader</h1>

    <!-- Upload form -->
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label for="file">Choose a file:</label>
        <input type="file" name="file" id="file" required><br><br>
        <label for="account">Account Address:</label>
        <input type="text" name="account" id="account" required><br><br>
        <input type="submit" value="Upload">
    </form>

    <hr>

    <!-- Grant access form -->
    <form action="/allow" method="POST">
        <label for="admin_account">Admin Account:</label>
        <input type="text" name="admin_account" id="admin_account" required><br><br>
        <label for="account_access">Account to Grant Access:</label>
        <input type="text" name="account_access" id="account_access" required><br><br>
        <label for="access_code">Access Code:</label>
        <input type="number" name="access_code" id="access_code" required><br><br>
        <input type="submit" value="Grant Access">
    </form>

    <hr>

    <!-- Revoke access form -->
    <form action="/disallow" method="POST">
        <label for="admin_account">Admin Account:</label>
        <input type="text" name="admin_account" id="admin_account" required><br><br>
        <label for="account_revokeAccess">Account to Revoke Access:</label>
        <input type="text" name="account_revokeAccess" id="account_revokeAccess" required><br><br>
        <label for="access_code">Access Code:</label>
        <input type="number" name="access_code" id="access_code" required><br><br>
        <input type="submit" value="Revoke Access">
    </form>

    <hr>

    <!-- Get CID form -->
    <form action="/get" method="POST">
        <label for="admin_account">Admin Account:</label>
        <input type="text" name="admin_account" id="admin_account" required><br><br>
        <label for="private_key">Private Key:</label>
        <input type="password" name="private_key" id="private_key" required><br><br>
        <label for="access_code">Access Code:</label>
        <input type="number" name="access_code" id="access_code" required><br><br>
        <input type="submit" value="Get CID">
    </form>

</body>
</html>
